:root{
    --main-font-family:benton-sans,
        'Helvetica Neue',
        helvetica,
        arial,
        sans-serif;
    --main-color:#634988;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #634988;
    
}
.title{
    width: 10px;
    height: 10px;
}
nav{
    width: 100%;
    height: 32px;
    background-color: #eaf5fe;
    display: flex;
    padding-left: 20px;
    text-align: center;
    align-items: center;
    font-family: var(--main-font-family);
    color: #3f3f44;
}
.logo{
    width: 25px;
    height: 15px;
    padding-right: 10px;
   
}
.logos{
    line-height: 20px;
    font-weight: 400;
    font-size: 30px;
    color: #3f3f44;
    font-family: var(--main-font-family);
    line-height: 20px;
    font-size: 12px;
}
.logos p a{
    text-decoration: none;
    color: #3f3f44;
}
.slash{
    padding-left: 5px;
    padding-right: 5px;
}
.brand-main-logos {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    animation: rotate 1500ms 5;
}

.brand-main-logo {
    width: 230px;
    height: 130px
    
}

.loginbox{
    background-color: white;
    width: 400px;
    /* height: 443px; */
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 40px;
    animation: bounce 1500ms;
}
.login-form {
    display: flex;
    flex-direction: column;
    /* grid-row-gap: 0.3rem; */
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.login-title{
font-family: benton-sans,
"Helvetica Neue",
helvetica,
arial,
sans-serif;
font-weight: 100;
color: #664986;
font-size: 24px;
line-height: 36px;
padding-top: 2rem;
padding-bottom: 2rem;
text-align: center;
/* margin-left: -5px; */

}
.labels{
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    font-family: var(--main-font-family);
    color: #62748e;
    font-size: 12px;
    Line-Height: 17px;
}
.inputs{
    height: 44px;
    border: 1px solid #cbcbd2;
    border-radius: 5px;
    
}
.inputs:hover{
    
    color: var(--main-color);
}
input:focus {
    outline: none;
    padding-left: 20px;
}
input::placeholder{
    /* padding-left: 20px; */
}
.login {
    background-color: #634988;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    font-family: benton-sans,
        "Helvetica Neue",
        helvetica,
        arial,
        sans-serif;
    border: 1px solid #634988;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 2rem;
}
.signup{
    text-align: center;
    font-size: 17px;
    font-family: var(--main-font-family);
    line-height: 24px;
    color: #4a5568;
    background-color: #ccc;
    padding: 12px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.signup a{
    text-decoration: none;
    font-size: 17px;
    font-family: var(--main-font-family);
    font-weight: 400;
    line-height: 24px;
    color: #79589f;
    margin-left: 5px;
}
/* .second{
    padding-left: 40px;
    font-family: benton-sans,
    "Helvetica Neue",
    helvetica,
    arial,
    sans-serif;
    font-size: 12px;
    Line-Height: 17px;
    font-weight: 700;
    
}
.second1{
    padding-bottom: 4px;
    color: #62748e;
}
.second input{
    width: 348px;
    height: 44px;
    border: 1px solid #cbcbd2;
    border-radius: 5px;
}
.third{
    font-weight: 700;
    color: #62748e;
    font-size: 12px;
    line-height: 17px;
    font-family: benton-sans,
    "Helvetica Neue",
    helvetica,
    arial,
    sans-serif;
    padding-left: 40px;
    padding-top: 21px;
    padding-bottom: 20px;
}
.third1{
    padding-bottom: 4px;
    color: #62748e;
}
.third input{
    width: 348px;
    height: 44px;
    border: 1px solid #cbcbd2 ;
    border-radius: 5px;
}
input::placeholder{
padding-left: px;
}
input:target{
    padding-left:
    outline: none;
}
input:focus{
    
    
    
} */

/* .last{
    width: 100%;
    height: 100px;
    text-align: center ;
    font-family: benton-sans,
    "Helvetica Neue",
    helvetica,
    arial,
    sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: #4a5568;
    
} */
/* .last a{
    font-size: 17px;
    font-family: benton-sans,
    "Helvetica Neue",
    helvetica,
    arial,
    sans-serif;
    font-weight: 400;
    line-height: 24px;
    color:#79589f;
} */


.alternative-login{
    display: flex;
    justify-content: center;
    color: white;
  /* padding-top: 700px; */
  /* padding-left: 541px; */
    font-size: 14px;
    margin-top: 15px;
}
.login-alternate{
    /* padding-right: 10px; */
    line-height: 20px;
    font-weight: 400;
    font-family: benton-sans,
    'Helvetica Neue',
    helvetica,
    arial,
    sans-serif;
    
}
.login-alternate__link{
    color: white;
    margin: 0 1rem 0 1rem;

}



.brand-description{
    display: flex;
   /* justify-content: center; */
    margin-top: 96px;
    margin-bottom: 41px;
    animation: slide2 1500ms;
}
.brand-logo {
    width: 100px;
    height: 50px;
    vertical-align: middle;
    /* align-items: center; */
    /* transform: translateY(23px); */
    margin-left: -15px;
    margin-right: -15px;

}
.brand-description__link{
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 14px;
    font-weight: 600;
    margin: 0 auto;
    font-family: benton-sans,
            "Helvetica Neue",
            helvetica,
            arial,
            sans-serif;
    letter-spacing: .5px;
    word-spacing: 1px;
    color: #fff;
}
.main-footer{
    animation: slide1 1500ms  ;
    margin-bottom: 20px;
}
.nav-links{
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-link {
    padding-right: 10px;
}
.nav-links .nav-link a{
    text-decoration: none;
    font-family: benton-sans,
            "Helvetica Neue",
            helvetica,
            arial,
            sans-serif;
    font-weight: 600;
    line-height: 17px;
    font-size: 12px;
    Color: rgba(255, 255, 255, 0.8);

}
@media(max-width:500px){
    .nav-links{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.copy{
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
    color: #dcdae9;
    font-family:benton-sans,
    "Helvetica Neue",
    helvetica,
    arial,
    sans-serif;
    text-align: center;
    margin-top: -8px;
    
}
@keyframes slide1{
    0%{
        transform: translateX(-830px) rotateZ(0);
    }
    100%{
        transform: translateX(0) ;
    }
}

@keyframes slide2 {
    0% {
        transform: translateX(600px) rotateZ(0);
    }

    100% {
        transform: translateX(0);
    }
}
@keyframes bounce {
    0% {
        transform: translateY(-600px) translateX(300px) ;
    }
    33.3%{
        transform: translateY(-40px);
    }
    66.6%{
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes rotate {
    0% {
        transform: rotateZ(0);
    }

    50% {
        transform: rotateZ(180deg);
    }

    

    100% {
    transform: rotateZ(360deg) ;
    }
}